/* .ck-editor__editable {
  min-height: 350px;
} */
/*
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: gray;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
*/
#semiTransparenDiv {
  width: 100%;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin-bottom: 40px;
  margin-top: 60px;

  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: block;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#semiTransparenDiv::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border: 5px solid black;
  border-top-color: #6cc4ee;
  border-width: 7px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;

  /* Lets make it go round */
  animation: spin 0.8s linear infinite;
}
.ut2-pb__button a.label i {
  position: relative;
  top: -1px;
  font-size: 18px;
  margin-right: 3px;
}
.ty-product-block .ty-qty-in-stock,
.ty-product-block .ty-qty-out-of-stock {
  height: 21px;
  border-radius: 10px;
  padding: 0 8px;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #1e90ff;
  top: 40%;
  left: 40%;

  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TRACK ORDER PAGE */
.container {
  padding-bottom: 50px;
}
.box3 {
  width: 100%;
  float: left;
  padding: 12px 12px 20px 12px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.box3:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.mt30 {
  margin-top: 50px;
}
.appointment-sec {
  width: 100%;
  float: left;
  border: 0px solid #dedddd;
  padding: 30px 220px;
  position: relative;
}
.text-center {
  text-align: center;
}
.appointment-sec p {
  display: inline-block;
  font-family: georgia, helvetica, serif;
  font-size: 18px;
  color: #505050;
  margin-top: 10px;
  line-height: 30px;
  margin-top: 20px;
}
.appointment-sec p a {
  color: #232b8d;
  text-decoration: underline;
  font-family: georgia, helvetica, serif;
  font-size: 18px;
}
#onestepcheckout .checkout-summary .table th.right,
#onestepcheckout .checkout-summary .table td.right {
  text-align: right;
}
